<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book edition -->
<form id="edit-form" th:action="@{/save(id=${book.id}, name=${book.name}, authorId=${book.author.id}, genreId=${book.genre.id})}" th:method="post" action="list.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" th:value="${book.name}" value=""/>
    </div>

    <div class="row">
        <label for="author-input">Author Name:</label>
        <input id="author-input" name="authorName" type="text" readonly="readonly" th:value="${book.author.name}" value=""/>
    </div>

    <div class="row">
        <label for="genre-input">Genre Name:</label>
        <input id="genre-input" name="genreName" type="text" readonly="readonly" th:value="${book.genre.name}" value=""/>
    </div>

    <!--div class="row">
        <a th:href="@{/save(id=${book.id}, name=${book.name}, authorId=${book.author.id}, genreId=${book.genre.id})}" href="">Edit</a>
    </div-->

    <div class="row">
        <button type="submit" onClick="" name="submit" value="value" class="link-button">Save</button>
    </div>


</form>

</body>
</html>
