<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Загрузка товаров</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .partners, .partners td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>Загрузка товаров:</h1>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/loadattribute">
        <table>
            <tr><td>Выберите файл для загрузки:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Загрузить данные в систему" /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>


<br/>
<form id="add-form" th:action="@{/listprotocol}" th:method="post" action="listprotocol.html">
    <a href="#" onclick="this.parentNode.submit()">Посмотреть протоколы загрузок</a>
</form>

<br/>
<form id="cancel-form" th:action="@{/}" th:method="get" action="listgoods.html">
    <a href="#" onclick="this.parentNode.submit()">Назад к списку товаров</a>
</form>


</body>
</html>
