<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<!-- Book edition -->
<form id="insert-form" th:method="post" action="/books">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" value=""/>
    </div>

    <div class="row">
        <label for="author-input">Author Name:</label>
        <select id="author-input" name="authorId" type="text" >
        </select>
    </div>


    <div class="row">
        <label for="genre-input">Genre Name:</label>
        <select id="genre-input" name="genreId" type="text" >
        </select>
    </div>


    <div class="row">
        <button type="submit" onClick="" name="submit" value="value" class="link-button">Insert</button>
    </div>

</form>

<script>
    <!-- Authors -->
    $(function () {
        $.get('/authors').done(function (authors) {
            authors.forEach(function (author) {
                $('#author-input').append(`
                        <option value=${author.id}>${author.name}</option>
                `)
            });
        })
    });

    <!-- Genres -->
    $(function () {
        $.get('/genres').done(function (genres) {
            genres.forEach(function (genre) {
                $('#genre-input').append(`
                        <option value=${genre.id}>${genre.name}</option>
                `)
            });
        })
    });


    $( "#insert-form" ).submit(function( event ) {
        // Stop form from submitting normally
        event.preventDefault();
        // Get some values from elements on the page:
        var $form = $( this ),
            name = $form.find( "input[name='name']" ).val(),
            authorId = $form.find( "select[name='authorId']" ).val(),
            genreId = $form.find( "select[name='genreId']" ).val(),
            url = $form.attr( "action" );
        // Send the data using post
        var posting = $.post( url, { name: name, authorId: authorId, genreId: genreId } );
        posting.done(function( data ) {
            window.open("/", "_self");
        });
    });
</script>

</body>
</html>
