<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактировать поставщика</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<!-- Book edition -->
<form id="edit-form" th:method="post" action="/providers/">
    <h1>Информация о поставщике:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly"/>
    </div>

    <div class="row">
        <label for="name-input">Название:</label>
        <input id="name-input" name="name" type="text"/>
    </div>

    <div class="row">
        <label for="inn-input">ИНН:</label>
        <input id="inn-input" name="inn" type="text"/>
    </div>

    <div class="row">
        <label for="address-input">Адрес:</label>
        <input id="address-input" name="address" type="text"/>
    </div>

    <div class="row">
        <td>
            <button type="submit" onClick="" name="submit" value="value" class="link-button">Сохранить изменения</button>
        </td>
        <td>
            <input class="button" type="button" onclick="window.location.replace('/')" value="Отмена" />
        </td>
    </div>


</form>
<script>

    $(function () {
        setTimeout (function() {
            var provider_id = getUrlParameter('id');
            $.get('/providers/'+provider_id, {id: provider_id}).done(function (provider) {
                console.log(provider.name);
                $('#id-input').val(provider.id);
                $('#name-input').val(provider.name);
                $('#inn-input').val(provider.inn);
                $('#address-input').val(provider.address);
            })
        }, 5)
    });


    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };
    console.log("getUrlParameter="+getUrlParameter('id'));


    $( "#edit-form" ).submit(function( event ) {
        // Stop form from submitting normally
        event.preventDefault();
        // Get some values from elements on the page:
        var $form = $( this ),
            id = $form.find( "input[name='id']" ).val(),
            name = $form.find( "input[name='name']" ).val(),
            inn = $form.find( "input[name='inn']" ).val(),
            address = $form.find( "input[name='address']" ).val(),
            url = $form.attr( "action" );

        $.ajax({
            type: "PUT",
            url: url+id,
            data: { id: id, name:name, inn:inn, address:address},
            complete:
                function () {
                    window.open("/viewproviders", "_self");
                }

        });


    });


</script>

</body>
</html>
