<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<!-- Book edition -->
<form id="edit-form" th:method="post" action="/books/">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text"/>
    </div>

    <div class="row">
        <label for="author-input">Author Name:</label>
        <select id="author-input" name="authorId" type="text" >
        </select>
    </div>

    <div class="row">
        <label for="genre-input">Genre Name:</label>
        <select id="genre-input" name="genreId" type="text" >
        </select>
    </div>


    <div class="row">
        <button type="submit" onClick="" name="submit" value="value" class="link-button">Save</button>
    </div>


</form>
<script>

    $(function () {
        $.get('/authors').done(function (authors) {
            authors.forEach(function (author) {
                $('#author-input').append(`
                          <option value=${author.id}>${author.name}</option>
                 `)
            });
        })
    });

    $(function () {
        $.get('/genres').done(function (genres) {
            genres.forEach(function (genre) {
                $('#genre-input').append(`
                        <option value=${genre.id}>${genre.name}</option>
                `)
            });
        })
    });

    $(function () {
        setTimeout (function() {
            var book_id = getUrlParameter('id');
            $.get('/books/'+book_id, {id: book_id}).done(function (book) {
                console.log(book.name);
                console.log(book.author.id);
                console.log(book.genre.id);
                $('#id-input').val(book.id);
                $('#name-input').val(book.name);
                $('#author-input').val(book.author.id);
                $('#genre-input').val(book.genre.id);
            })
        }, 300)
    });


    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };
    console.log("getUrlParameter="+getUrlParameter('id'));


    $( "#edit-form" ).submit(function( event ) {
        // Stop form from submitting normally
        event.preventDefault();
        // Get some values from elements on the page:
        var $form = $( this ),
            id = $form.find( "input[name='id']" ).val(),
            name = $form.find( "input[name='name']" ).val(),
            authorId = $form.find( "select[name='authorId']" ).val(),
            genreId = $form.find( "select[name='genreId']" ).val(),
            url = $form.attr( "action" );

        $.ajax({
            type: "PUT",
            url: url+id,
            data: { id: id, name:name, authorId:authorId, genreId:genreId }, 
            complete:
                function () {
                    window.open("/", "_self");
                }

        });


    });


</script>

</body>
</html>
