<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books in library</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }
        .genres, .genres td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>Books in library:</h1>

<table class="books" id="table_books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Action</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $(function () {
        $.get('/books').done(function (books) {
            books.forEach(function (book) {
                $('#table_books').append(`
                    <tr class="bookrow">
                        <td name="bookid">${book.id}</td>
                        <td>${book.name}</td>
                        <td>${book.author.name}</td>
                        <td>${book.genre.name}</td>
                        <td>
                            <a href="/edit?id=${book.id}" class="edit_href" >Edit</a>
                        </td>
                        <td>
                            <!--a href=# class="remove_href" data-href="/api/remove/">Remove</a-->
                            <a href=# class="remove_href" data-href="/books/">Remove</a>
                        </td>
                    </tr>
                `)
            });
        })
    });


    $("#table_books").on("click", "tr a", function (e) {
        e.stopPropagation();

        var id;
        $('td', $(this).closest('tr')).each(function () {
            var name = $(this).attr("name");
            if (name == 'bookid') {
                id = $(this).text();
            }
        });
        console.log("selected id:" + id);
        var url = $(this).attr("data-href");
        var urlPage = $(this).attr("href");
        var className = $(this).attr("class");
        console.log("url:" + url);

        if (className == 'remove_href') {

             $.ajax({
                   type: "DELETE",
                   url: url+id,
                   data: { id: id }, // or the string: 'id=1'
                   complete:
                       function () {
                           window.open("/", "_self");
                       }

             });
        }

    });



</script>


<br/>

<form id="add-form" th:action="@{/add}" th:method="post" action="create.html">
    <a href="#" onclick="this.parentNode.submit()">Add a new book!</a>
</form>


<h1>Authors:</h1>

<table class="authors" id="table_authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    <!-- Authors -->
    $(function () {
        $.get('/authors').done(function (authors) {
            authors.forEach(function (author) {
                $('#table_authors').append(`
                    <tr>
                        <td>${author.id}</td>
                        <td>${author.name}</td>
                    </tr>
                `)
            });
        })
    });

</script>


<h1>Genres:</h1>

<table class="genres" id="table_genres">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>



<script>

    <!-- Genres -->
    $(function () {
        $.get('/genres').done(function (genres) {
            genres.forEach(function (genre) {
                $('#table_genres').append(`
                    <tr>
                        <td>${genre.id}</td>
                        <td>${genre.name}</td>
                    </tr>
                `)
            });
        })
    });

</script>
</body>
</html>
